
/***************************************************

CONTAINER E BOX SÃO A PARTE CENTRAL DO SITE
DEIXAR JUNTOS PARA FACILITAR MANUTENÇÃO

***************************************************/
.container {
border-radius: 25px;
border: 2px solid #efefef;
height: 700px;
background: #f2f2f2;
margin-left: 15px;
margin-right: 15px;
margin-top: 10px;
padding-left:35px;
padding-right:35px;
padding-top:30px;
padding-bottom:10px;
}


.box {
margin-left:100px;
margin-bottom: 20px;
margin-right: 20px;
width:20%;
height:300px;
}


/***************************************************
***************************************************/
.container2 {
background:#F00;
width:1000px;
margin:10px auto;
}

.carrossel {
	position:relative;
	background-color:#F00;
	height: 400px;
	margin: 20px auto;
}

.meioContainer {
background:#Fff;
width:1000px;
height:20px;
margin:10px auto;
}
 

.box {
background-color:#06C;
width:30%;
height:300px;
float:left;
color:#FFF;
font-size:1.4em;
text-align:center;
margin-left:5px;
margin-right:5px;
}

.divisoria {
	position: :relative;
	background-color: #Fff;
	width:6%;
	height:200px;
	float:left;
	color:#F00;
}
 
.titulo {
 
display:block;
clear:both;
text-align:center;
font-size:1.4;
height: 100px;
margin-left: 50;
margin-right: 50;
background-color: #999
}

.tituloMeio {
 
display:block;
clear:both;
text-align:center;
font-size:1.4;
height: 25px;
margin-left: 50;
margin-right: 50;
background-color: #999
}

.logo{
position:relative;
float:left;
height:80%;
margin:1%;
width:25%;
background-color: #fff
}
.meioBanner{
position:relative;
float:left;
height:80%;
margin:1%;
width:50%;
background-color: #fff;
color:#f00;
}
.busca{
position:relative;
float:left;
height:80%;
margin:1%;
width:19%;
background-color: #fff
}

.rodape {
 
display:block;
clear:both;
text-align:center;
font-size:1.4;
height: 50px;
margin-left: 50;
margin-right: 50;
background-color: #999
}
.rodapeLogo{
position:relative;
float:left;
height:70%;
margin:1%;
width:25%;
background-color: #fff
}
.rodapeMeio{
position:relative;
float:left;
height:70%;
margin:1%;
width:50%;
background-color: #fff;
color:#f00;
}
.rodapeBusca{
position:relative;
float:left;
height:70%;
margin:1%;
width:19%;
background-color: #fff
}